@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: "Manrope", sans-serif;
}
/* Cover Image */
.cover_image {
  width: 2400px;
  height: 1350px;
  overflow: hidden !important;
}

.Poppins {
  font-family: "Poppins", sans-serif !important;
}

.pop-anim {
  animation: pop-anim 350ms;
}

@keyframes pop-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.glassmorphism-2 {
  background: linear-gradient(to bottom, #fff, #2563eb10);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
